Repository omattsson/application_template, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admin, @backend-team, @api-team, @api-handlers-team, @database-team, @models-team, @frontend-team, @ui-team, @api-client-team, @frontend-pages-team, @devops-team, @docs-team, @api-docs-team

Azure table testing
  backend/api/azure_test.go
  backend/api/main_test.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/handlers_test.go
  backend/internal/api/handlers/items_test.go
  backend/internal/config/config_test.go
  backend/internal/database/azure/azure_test.go
  backend/internal/database/azure/client.go
  backend/internal/database/azure/error_handling_test.go
  backend/internal/database/azure/repository_test.go
  backend/internal/database/azure/table.go
  backend/internal/database/azure/table_test.go
  backend/internal/database/azure_repository_test.go
Owners: @api-team, @api-docs-team, @backend-team, @api-handlers-team, @database-team

Update PR workflow
  .github/workflows/pull-request.yml
Owners: @repo-admin, @docs-team

More testing
  backend/.golangci.yml
  backend/Makefile
  backend/api/azure_test.go
  backend/api/main.go
  backend/api/main_test.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/handlers.go
  backend/internal/api/handlers/items_test.go
  backend/internal/api/routes/routes_test.go
  backend/internal/config/config.go
  backend/internal/config/config_test.go
  backend/internal/database/azure/interfaces.go
  backend/internal/database/azure/repository_test.go
  backend/internal/database/azure/table_test.go
  backend/internal/database/azure/test_mocks.go
  backend/internal/database/database.go
  backend/internal/database/database_test.go
  backend/internal/database/factory.go
  backend/internal/database/factory_test.go
  backend/internal/health/health.go
  backend/internal/health/health_test.go
Owners: @backend-team, @devops-team, @api-team, @api-handlers-team, @database-team

refactor: improve backend code quality and security
  backend/api/main.go
  backend/api/main_test.go
  backend/internal/api/handlers/handlers.go
  backend/internal/api/handlers/handlers_test.go
  backend/internal/api/handlers/items.go
  backend/internal/api/handlers/items_test.go
  backend/internal/api/handlers/mock_repository.go
  backend/internal/api/handlers/rate_limiter.go
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/middleware/middleware.go
  backend/internal/api/middleware/middleware_test.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/routes_test.go
  backend/internal/config/config.go
  backend/internal/config/config_test.go
  backend/internal/database/azure/error_handling_test.go
  backend/internal/database/azure/repository_test.go
  backend/internal/database/azure/table.go
  backend/internal/database/azure/table_test.go
  backend/internal/database/config.go
  backend/internal/database/config_test.go
  backend/internal/database/database.go
  backend/internal/database/database_test.go
  backend/internal/database/errors.go
  backend/internal/database/factory.go
  backend/internal/database/migrations.go
  backend/internal/database/repository.go
  backend/internal/health/health.go
  backend/internal/health/health_test.go
  backend/internal/models/models.go
  backend/internal/models/validation.go
  backend/pkg/utils/utils.go
Owners: @api-team, @api-handlers-team, @backend-team, @database-team, @models-team

fix: address PR review comments
  backend/api/main.go
  backend/internal/api/handlers/rate_limiter.go
  backend/internal/api/middleware/middleware.go
  backend/internal/api/middleware/middleware_test.go
  backend/internal/database/database_test.go
  backend/pkg/utils/utils.go
  backend/pkg/utils/utils_test.go
Owners: @api-team, @api-handlers-team, @backend-team, @database-team

fix: address second round of PR review comments
  backend/api/main.go
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/middleware/middleware_test.go
  backend/internal/database/azure/table.go
  backend/internal/database/azure/table_test.go
  backend/internal/models/models.go
Owners: @api-team, @backend-team, @database-team, @models-team

fix: address third round of PR review comments
  backend/internal/database/azure/table.go
  backend/internal/database/azure/table_test.go
  backend/internal/models/models.go
  backend/pkg/utils/utils.go
  backend/pkg/utils/utils_test.go
Owners: @database-team, @models-team, @backend-team

fix: address fourth round of PR review comments
  backend/api/main.go
  backend/internal/api/handlers/items.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/routes_test.go
  backend/internal/database/migrations.go
  backend/internal/database/repository.go
Owners: @api-team, @api-handlers-team, @backend-team, @database-team

fix: address fifth round of PR review comments
  backend/internal/api/handlers/items.go
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/middleware/middleware.go
  backend/internal/database/azure/table.go
  backend/internal/database/azure/table_test.go
  backend/internal/models/models.go
Owners: @api-handlers-team, @backend-team, @database-team, @models-team

fix: address sixth round of PR review comments
  backend/api/azure_test.go
  backend/internal/api/middleware/middleware_test.go
  backend/internal/database/azure/table.go
  backend/pkg/utils/utils.go
Owners: @api-team, @backend-team, @database-team

fix: make Azure Table RowKey consistent across all CRUD operations
  backend/internal/database/azure/table.go
  backend/internal/database/azure/table_test.go
Owners: @database-team

fix: address eighth round of PR review comments
  backend/internal/database/azure/table.go
  backend/internal/models/models.go
Owners: @database-team, @models-team

fix: address ninth round of PR review comments
  backend/api/main.go
  backend/internal/api/handlers/items.go
  backend/internal/api/handlers/rate_limiter.go
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/middleware/middleware.go
  backend/internal/database/azure/table.go
  backend/internal/database/migrations.go
  backend/internal/database/repository.go
  backend/internal/health/health.go
  backend/internal/models/models.go
  backend/pkg/utils/utils.go
Owners: @api-team, @api-handlers-team, @backend-team, @database-team, @models-team

fix: address tenth round of PR review comments
  backend/api/main.go
  backend/api/main_test.go
  backend/internal/api/handlers/mock_repository.go
  backend/internal/api/handlers/rate_limiter.go
  backend/internal/database/azure/table.go
  backend/internal/database/migrations.go
  backend/internal/models/models.go
Owners: @api-team, @api-handlers-team, @database-team, @models-team

fix: address eleventh round of PR review comments
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/middleware/middleware_test.go
  backend/internal/models/models.go
Owners: @backend-team, @models-team

fix: address twelfth round of PR review comments
  backend/internal/api/handlers/items.go
  backend/internal/database/azure/table.go
  backend/pkg/utils/utils_test.go
Owners: @api-handlers-team, @database-team, @backend-team

fix: address thirteenth round of PR review comments
  backend/internal/api/handlers/items.go
  backend/internal/database/azure/table.go
Owners: @api-handlers-team, @database-team

fix: address fourteenth round of PR review comments
  backend/api/main.go
  backend/internal/api/handlers/rate_limiter.go
  backend/internal/config/config.go
  backend/internal/database/azure/table.go
  backend/internal/models/models.go
Owners: @api-team, @api-handlers-team, @backend-team, @database-team, @models-team

fix: address fifteenth round of PR review comments
  backend/internal/api/middleware/middleware.go
  backend/internal/database/azure/table.go
  backend/internal/health/health.go
Owners: @backend-team, @database-team

fix: address sixteenth round of PR review comments
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/middleware/middleware.go
  backend/internal/database/azure/table.go
  backend/internal/models/models.go
Owners: @backend-team, @database-team, @models-team

fix: Azure List() ParseUint bitSize 32→64, add optimistic locking test
  backend/internal/database/azure/table.go
  backend/internal/database/database_test.go
  backend/internal/models/models.go
Owners: @database-team, @models-team

Fixes
  .github/copilot-instructions.md
  backend/api/azure_test.go
  backend/internal/database/migrations.go
  frontend/package.json
  frontend/vite.config.ts
Owners: @repo-admin, @docs-team, @api-team, @database-team, @frontend-team

feat: add WebSocket Hub and Client infrastructure
  backend/go.mod
  backend/go.sum
  backend/internal/websocket/client.go
  backend/internal/websocket/hub.go
  backend/internal/websocket/hub_test.go
  backend/internal/websocket/message.go
Owners: @backend-team

fix: address review comments on websocket package
  backend/internal/websocket/client.go
  backend/internal/websocket/hub.go
  backend/internal/websocket/hub_test.go
  backend/internal/websocket/message.go
Owners: @backend-team

refactor(websocket): address review feedback for hub/client/message
  .github/agents/code-reviewer.md
  .github/agents/devops-engineer.md
  .github/agents/frontend-developer.md
  .github/agents/go-api-developer.md
  .github/agents/orchestrator.md
  .github/agents/qa-engineer.md
  backend/internal/websocket/client.go
  backend/internal/websocket/hub.go
  backend/internal/websocket/hub_test.go
Owners: @repo-admin, @docs-team, @backend-team

chore(agents): add scm-engineer and update agent definitions
  .github/agents/code-reviewer.md
  .github/agents/devops-engineer.md
  .github/agents/frontend-developer.md
  .github/agents/go-api-developer.md
  .github/agents/orchestrator.md
  .github/agents/qa-engineer.md
  .github/agents/scm-engineer.md
Owners: @repo-admin, @docs-team

feat(api): add WebSocket endpoint with hub/client architecture
  backend/api/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/websocket.go
  backend/internal/api/handlers/websocket_test.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/routes_test.go
Owners: @api-team, @api-docs-team, @api-handlers-team, @backend-team

test(websocket): add Client unit tests, raise package coverage to 85.7%
  backend/internal/websocket/client_test.go
Owners: @backend-team

feat(api): add WebSocket endpoint with hub/client architecture (#10)
  .github/agents/code-reviewer.md
  .github/agents/devops-engineer.md
  .github/agents/frontend-developer.md
  .github/agents/go-api-developer.md
  .github/agents/orchestrator.md
  .github/agents/qa-engineer.md
  .github/agents/scm-engineer.md
  backend/api/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/handlers/websocket.go
  backend/internal/api/handlers/websocket_test.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/routes_test.go
  backend/internal/websocket/client_test.go
Owners: @repo-admin, @docs-team, @api-team, @api-docs-team, @api-handlers-team, @backend-team

fix: set server WriteTimeout to 0 for WebSocket compatibility (#4)
  backend/api/main_integration_test.go
  backend/api/main_test.go
  backend/internal/config/config.go
  backend/internal/config/config_test.go
Owners: @api-team, @backend-team

fix: address Copilot review comments on WriteTimeout PR
  backend/internal/config/config.go
  backend/internal/config/config_test.go
Owners: @backend-team

fix: adjust server WriteTimeout for WebSocket compatibility (#11)
  backend/api/main_integration_test.go
  backend/api/main_test.go
  backend/internal/config/config.go
  backend/internal/config/config_test.go
Owners: @api-team, @backend-team

feat: broadcast item.created/updated/deleted events over WebSocket (#5)
  backend/internal/api/handlers/items.go
  backend/internal/api/handlers/items_test.go
  backend/internal/api/handlers/mock_broadcast_sender.go
  backend/internal/api/handlers/mock_repository.go
  backend/internal/api/routes/routes.go
Owners: @api-handlers-team, @backend-team

fix: address Copilot review comments on broadcast PR
  backend/internal/api/handlers/items.go
  backend/internal/api/handlers/items_test.go
  backend/internal/api/handlers/mock_broadcast_sender.go
Owners: @api-handlers-team

feat: broadcast Item CRUD events over WebSocket (#12)
  backend/internal/api/handlers/items.go
  backend/internal/api/handlers/items_test.go
  backend/internal/api/handlers/mock_broadcast_sender.go
  backend/internal/api/handlers/mock_repository.go
  backend/internal/api/routes/routes.go
Owners: @api-handlers-team, @backend-team

Update agents
  .github/agents/code-reviewer.md
  .github/agents/devops-engineer.md
  .github/agents/frontend-developer.md
  .github/agents/go-api-developer.md
  .github/agents/orchestrator.md
  .github/agents/qa-engineer.md
  .github/agents/scm-engineer.md
Owners: @repo-admin, @docs-team

feat(frontend): add WebSocket real-time updates for Items page
  frontend/e2e/items.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/websocket.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/WebSocketContext.test.tsx
  frontend/src/__tests__/useWebSocket.test.ts
  frontend/src/api/client.ts
  frontend/src/api/config.ts
  frontend/src/components/Layout/__tests__/Layout.test.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/context/WebSocketContext.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Items/__tests__/Items.test.tsx
  frontend/src/pages/Items/index.tsx
  frontend/src/routes.tsx
Owners: @frontend-team, @api-client-team, @ui-team, @frontend-pages-team

feat(frontend): add WebSocket real-time updates for Items page (#13)
  frontend/e2e/items.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/websocket.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/WebSocketContext.test.tsx
  frontend/src/__tests__/useWebSocket.test.ts
  frontend/src/api/client.ts
  frontend/src/api/config.ts
  frontend/src/components/Layout/__tests__/Layout.test.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/context/WebSocketContext.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Items/__tests__/Items.test.tsx
  frontend/src/pages/Items/index.tsx
  frontend/src/routes.tsx
Owners: @frontend-team, @api-client-team, @ui-team, @frontend-pages-team

Update agents
  .github/agents/frontend-developer.md
  .github/agents/go-api-developer.md
Owners: @repo-admin, @docs-team

feat(frontend): auto-refresh items list on WebSocket events (#7)
  frontend/src/pages/Items/__tests__/Items.test.tsx
  frontend/src/pages/Items/index.tsx
Owners: @frontend-pages-team

.github/CODEOWNERS:

# CODEOWNERS for application_template
# Each line is a file pattern followed by one or more owners.

# Default owners for everything in the repo
* @repo-admin

# Backend code
/backend/ @backend-team
/backend/api/ @api-team
/backend/internal/api/handlers/ @api-handlers-team
/backend/internal/database/ @database-team
/backend/internal/models/ @models-team

# Frontend code
/frontend/ @frontend-team
/frontend/src/components/ @ui-team
/frontend/src/api/ @api-client-team
/frontend/src/pages/ @frontend-pages-team

# DevOps files
docker-compose.yml @devops-team
/backend/Dockerfile @devops-team
/frontend/Dockerfile @devops-team
Makefile @devops-team

# Documentation
*.md @docs-team
/backend/docs/ @api-docs-team
WIKI.md @docs-team

# GitHub-specific files
/.github/ @repo-admin @devops-team
/.github/ @repo-admin @docs-team
